.usuarios {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4db6ac;
    border-radius: 10px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.usuarios form h2 {
    font-size: 24px;
    color: #00796b;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.usuarios form {
    margin-bottom: 20px;
    width: calc(50% - 10px);
}
.usuarios form input[type="text"],
.usuarios form input[type="submit"],
.usuarios form input[type="password"],
.usuarios form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #4db6ac;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100%);
}
.usuarios form input[type="submit"] {
    background-color: #4db6ac;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.usuarios form input[type="submit"]:hover {
    background-color: #00796b;
}
.delete-button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.delete-button:hover {
    background-color: #cc0000;
}
.usuarios table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.usuarios table th,
.usuarios table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.usuarios table th {
    background-color: #00796b;
    color: #fff;
}
.usuarios form.filtrar-form {
    width: 100%;
    margin-bottom: 20px;
}
