section.anunciantes,
section.valoraciones,
section.infoUser {
    width: 30%;
}
section.anunciantes,
section.valoraciones {
    margin-right: 20px;
}
section.anunciantes h1,
section.valoraciones h1,
section.infoUser h1 {
    font-size: 24px;
    color: #00796b;
    margin-bottom: 10px;
    text-align: center;
}
section.anunciantes table,
section.valoraciones table,
section.infoUser table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
section.anunciantes table th,
section.anunciantes table td,
section.valoraciones table th,
section.valoraciones table td,
section.infoUser table th,
section.infoUser table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
section.anunciantes table th,
section.valoraciones table th,
section.infoUser table th {
    background-color: #00796b;
    color: #fff;
}
section.anunciantes form,
section.valoraciones form,
section.infoUser form {
    margin-bottom: 20px;
}
section.anunciantes form input[type="text"],
section.anunciantes form input[type="submit"],
section.valoraciones form input[type="text"],
section.valoraciones form input[type="submit"],
section.infoUser form input[type="text"],
section.infoUser form input[type="password"],
section.infoUser form input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #4db6ac;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
}
section.anunciantes form input[type="submit"],
section.valoraciones form input[type="submit"],
section.infoUser form input[type="submit"] {
    background-color: #4db6ac;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
section.anunciantes form input[type="submit"]:hover,
section.valoraciones form input[type="submit"]:hover,
section.infoUser form input[type="submit"]:hover {
    background-color: #00796b;
}
.delete-button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.delete-button:hover {
    background-color: #cc0000;
}
.content {
    display: flex;
    flex-direction: column;
}

section.anunciantes,
section.valoraciones,
section.infoUser {
    width: 100%;
    margin-bottom: 20px;
}
